<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bazadedateexplo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cauta2Activity"></activity>
        <activity android:name=".AlegeExploInProiectActivity" />
        <activity android:name=".AlegeProiectActivity" />
        <activity android:name=".AlegeConferintaActivity" />
        <activity android:name=".AlegeClubActivity" />
        <activity android:name=".AlegeParinteActivity" />
        <activity android:name=".AlegeExploratorActivity" />
        <activity android:name=".AdaugExploInProiectActivity" />
        <activity android:name=".AdaugProiectActivity" />
        <activity android:name=".AdaugConferintaActivity" />
        <activity android:name=".AdaugClubActivity" />
        <activity android:name=".AdaugParinteActivity" />
        <activity android:name=".CautaActivity" />
        <activity android:name=".StergeActivity" />
        <activity android:name=".AdaugExploratorActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>